.para {
  background-image: url("../images/h_img.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}

.intro {
  text-align: center;
  color: white;
  padding-top: 20%;
  font-weight: bolder;
  font-size: 20px;
}
.intro h1 {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 150px;
}
.mouse {
  text-align: center;
  padding: 5%;
}
.about {
  text-align: center;
  padding-top: 20px;
  height:40vh;
}
h2 {
  font-weight: bolder;
  text-align: center;
}
.services {
  background-image: url("../images/s_image.jpg");
  background-repeat: no-repeat;
  height: 50vh;
}
#services {
  text-align: center;
  padding-top: 10%;
  color: white;
}
.doing {
  padding-top: 20px;
  height: 30vh;
}
.portfo {
  height: 70vh;
}
.top img {
  width: 100%;
}
figcaption {
  font-weight: bolder;
}
.contact {
  background-image: url("../images/c_image.jpg");
  background-repeat: no-repeat;
  height: 70vh;
  width: 200vh;
  margin-top: 20px;
  padding-top: 100px;
  color: white;
  text-align: center;
}
.socio{
  display: block;
  margin-top: 30px;
  text-align: center;
  height: 10vh;
  
}
footer{
  text-align: center;
  margin-top: 50px;
  height: 10vh;
}
#info{
  padding-bottom: 20px;
}
.road{
  position: absolute;
  top: 10%;
  color:white;
  text-align: center;
  right: 20%;
  font-size: 20px;
  border-style: solid;
  border-width: 5px;
  padding: 60px 20px;
  
  background-color: rgba(0, 0, 0, 0.6);
}
.croseover{
  padding: 20px;
}